<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
    Home page for a retarded sample app from
    <a href="http://www.railstutorial.org/">Ruby on Rails tutorial </a>
    sample application.
</p>
